.results-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1e1433;
    
}
.canvas{
    flex: 1;
    background-color: transparent;
    position: 'fixed';
    float: 'left';
    width: 50%
}
.results-section{
    padding: 30px;
    float: 'right';
    width: 50%
}