.results-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1e1433;
    
}
.canvas{
    flex: 1;
    background-color: transparent;
    position: 'fixed';
    float: 'left';
}
.results-section{
    padding: 50px;
    margin: 30px;
    background-color: transparent;
    float: 'right';
    align-items: left; 
}